body{
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/26bcbe81-a3fa-43da-8b10-7b37ce15b07d/demdyla-5c43f79c-b70a-4fd7-bf23-848883140ae6.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI2YmNiZTgxLWEzZmEtNDNkYS04YjEwLTdiMzdjZTE1YjA3ZFwvZGVtZHlsYS01YzQzZjc5Yy1iNzBhLTRmZDctYmYyMy04NDg4ODMxNDBhZTYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.znQzGkeCg0xHnVXotF6eMsJwxyqIt3Xp9KrqSFgYEFs");
    font-family: Tahoma;
    line-height: 1.5;
    font-size: 18px;
    margin: 0;
}
.card {
    width: 260px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 10px 25px #ccc;
    border-radius: 25px;
}

.card-photo {
    display: flex;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}
.card-tittle {
    font-size: 20px;
    text-align: center;
    color:olive ;
}
.card-text{
    font-size: 12px
    font-family: tahoma;
}
.card-subtitle{
    font-size: 18px;
    color: rgb(42, 44, 165);
}
.card-list{
    padding-left: 0;
    list-style-position: inside;
    font-size: 14px;
}
.card-info{
    font-size: 14px;
}
/* .wrapper{
    min-height: 50vh;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* .videoitem{
    width: 400px;
}
.items_container{
max-width: 1200px;
margin: 0px auto;
padding: 0px 15px;
} 
.items_body{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px,1fr));
}
.item_video{
    position: relative;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 56% 0px;
}
.item_video video{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.item_text{
    font-size: 18px;
    line-height: 150%; */
}
/* .full-screen { 
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
}
.full-screen_body { 
    padding: 50px 15px;
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}
.full-screen_title {
    color: #ccc;
    font-size: 50px;
    letter-spacing: 25px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
 }
.full-screen_text { 
    color: #ccc;
    font-size: 18px;
    letter-spacing: 15px;
    font-weight: 700;
}
.full-screen_video { 
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;  */ */
}
.content {
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/26bcbe81-a3fa-43da-8b10-7b37ce15b07d/demdyla-5c43f79c-b70a-4fd7-bf23-848883140ae6.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI2YmNiZTgxLWEzZmEtNDNkYS04YjEwLTdiMzdjZTE1YjA3ZFwvZGVtZHlsYS01YzQzZjc5Yy1iNzBhLTRmZDctYmYyMy04NDg4ODMxNDBhZTYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.znQzGkeCg0xHnVXotF6eMsJwxyqIt3Xp9KrqSFgYEFs");
    z-index: 5;
 }
.content_container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 150%;
 }
 .content_container p {
margin: 0px 0px 20px 0px;
 }
 .content_footer {
    margin-left: auto;
    margin: 0px auto;
    max-width: 1200px;  
    width: 260px;
    padding: 10px;
    
    line-height: 150%;
    background-color: rgb(180, 146, 146);
    box-shadow: 0 10px 25px #ccc;
    border-radius: 25px;
    animation: move-circle 4s ease-in-out forwards 4;
    animation-direction: alternate;
    animation-delay: 3s;
}
.content_footer:hover .card-info{
    animation-play-state: paused;
}
@keyframes move-circle {
    0%{
    transform: translateX(0) translateY(0);
    }
    25%{
    transform: translateX(100%);
    color: rgb(69, 36, 255);
    background-color: lightsalmon;
    }
    50%{
    transform: translateX(100%) translateY(100%);
    color: rgba(69, 36, 255, 0.678);
    background-color: #ffa07abe;

    }
    75%{
    transform: translateX(0) translateY(100%);
    color: rgba(69, 36, 255, 0.397);
    background-color: #ffa07a5e;

    }
    100% {
        transform: translateX(0) translateY(0);
        color: rgba(69, 36, 255, 0.151);
        background-color: #ffa07a27;


    }
}